.encabezado{
    text-align: center;
    font-family:'Arial';
    color: #53aa30  ;
}

body{
    background-color: #000000;
}

.recuadro{
    color: #53aa30;
    margin-top: 200px;
    text-align: center;
    font-family: Papyrus;
}


.hobbies{
    color: #53aa30;
    font-family:'Tiles New Roman';
    margin-top: 10px;
    margin-left: 10px;
}