body{
    background-color: #7ed8e2cb;
    font-family: system-ui, -apple-system, sans-serif;
}

.navbar-brand{
    color: white;
  float: left;
}

.navbar-nav .nav-link{
  color: white;
}

#navMenu .navbar-nav .nav-link:hover{
  color: #11f22f;
}

.navbar{
    background-color: #223548;
    width: 100%;
}

.hero {
  min-height: 30vh;
  background: #611f1f;
  color: #FFFFFF;
  text-align: center;
}

.hero .lead{
  color: white;
}

.section-anchor {
  scroll-margin-top: 40px;
}

body .container section h2 {
  color: #000000;
  display: inline-block;
  clear: both;
}

section h2 .badge {
  background-color: #223548 !important;
  margin-right: 8px;
  color: #fff !important;
}

.texto {
  line-height: 1.5;
}

h5 {
  margin-top: 15px;
}

.accordion-button {
  background-color: #223548 !important;
  color: #11f22f !important;
  border-radius: 8px;
}

pre {
    margin-top: -1px;
  background-color: #1e1e1e !important;
  color: #11f22f !important;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 0.9rem !important;
}

pre code {
  color: inherit !important;
  background: none !important;
  font-size: 100%;
}

.table thead {
  color: #611f1f;
}

.table td {
  font-size: 15px;
}

.footer {
  background-color: #223548 !important;
  color: #ffffff !important;
  margin-top: -3px;
}

.footer a {
  color: #11f22f;
}

.texto {
  line-height: 1.5;
  background-color: white;
  padding: 20px;
  border-radius: 1px;
  display: block;
  margin-bottom: -50px;
}

#joins h5 {
    color: #611f1f !important;
}

.accordion-button {
    max-width: 150px;
}

#diccionario .table tbody td {
    background-color: #cccccc !important;
    color: #000000 !important;
}

#diccionario .table thead, 
#diccionario .table thead th {
    background-color: #000000 !important;
    color: #ffffff !important;
}

#variables .table tbody td {
    background-color: #cccccc !important;
    color: #000000 !important; 
}

#variables .table thead, 
#variables .table thead th {
    background-color: #000000 !important;
    color: #ffffff !important; 
}

.navbar-brand:hover {
    color: #11f22f !important;
}

.espaciador {
    background-color: #611f1f;
    color: #ffffff;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

code:not(pre code) {
    color: #000000 !important;
    font-weight: bold !important;
}

.caja-der-en-blanco {
    background-color: #ffffff;
    color: #000000;
    padding: 30px;
    border-radius: 8px;
    min-height: 300px;
}